.container {
    position: absolute;
    top:0;
    right: 0;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    margin:0;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.input h1, .input p {
    margin : 5px 0;
    color: var(--faded);
    font-size: 14px;
}
.input h1 {
    color : var(--yellow);
    font-size : 30px
}
.input span{
    color : var(--yellow);
}

.title {
    color: var(--yellow);
}


@media screen and (max-width : 500px) {
    .container {
        width: 100%;
        position: relative
    }
    .input {
        width: 90%;
    }
}