.container {
    width: 60%;
    margin: 30px auto;
    text-align: center;
}
.ingredient {
    width: 100%;
    text-align: left;
}
.video {
    text-align: left;
}
.inputComment {
    width: 100%;
}
.inputComment input {
    width: 100%;
    height: 80px;
    background: #F6F5F4;
    border-radius: 15px;
    border: none;
    padding: 15px;
}
.inputComment input:focus-visible {
    border : 1px solid var(--yellow);
    outline : none;
}
.inputComment button {
    margin: 10px auto;
    display: block;
    width: 50%;
    height: 50px;
    background-color: var(--yellow);
    color: white;
    border: none;
    border-radius: 6px;
}
.main {
    width: 70%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main > input{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #F6F5F4;
    padding: 20px;
}
.main > textarea{
    width: 100%;
    height: 150px;
    border: none;
    background-color: #F6F5F4;
    padding: 20px;
}
.boxImage {
    background-image: attr(src url);
    width: 100%;
    position: relative;
    height: 200px;
    background-color: #F6F5F4;
    display: flex;
}
.boxImage img {
    margin: auto;
}
.boxImage input {
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.boxVideo {
    width: 100%;
    position: relative;
    height: 150px;
    background-color: #F6F5F4;
}
.boxVideo input {
    position: absolute;
    opacity: 0;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 400px) {
    .main {
        width: 90%;
    }
    .main h3 {
        font-size: 30px;
    }
}
